
<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://tse1.mm.bing.net/th?&id=OVP.wjHIi4VYN9FgAEg_JxgnOgEsCs&w=306&h=180&c=7&pid=2.1&rs=1"
      height="250px"
      alt=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do angular</a></h1>
  </div>

  <div class="big-card__description">
    <p><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti nam molestiae a, tenetur optio numquam doloremque magnam quis, quam adipisci quaerat? Odit minus laboriosam accusantium quod totam? Ut, vel, provident pariatur consectetur repellendus tempore dolores magni cumque enim laborum facere!</a></p>
  </div>
</div>
